!!! 5
html
  head
    meta(name='charset', content='utf-8')
    title ET Status
    link(href='/style/calibrate.css', rel='stylesheet', type='text/css')
    script(src='/script/jquery.min.js')
    script(src='/script/status.js')
  body
    img(src='/img/eriver_logo.png', margin-top='10px')
    .availability
      h1 ET Status
      - for (var i = 0; i < ets.length; i++) {
        - if (ets[i].available && !ets[i].cal) {
          a.etStatus.available(href="/calibrate/#{i}#")
            .id #{ets[i].id}
            .ip #{ets[i].ip}
        - } else {
          .etStatus.unavailable
            .id #{ets[i].id}
            - if (ets[i].cal) {
              .info Calibrating
            - }
            .ip #{ets[i].ip}
        - }
      - }

